@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');

body {
    margin: auto;
    padding: auto;
    text-align: center;
    font-family: 'Comic Neue', cursive;
    background: #202020;
}

h1 {
    margin: auto;
    font-weight: normal;
}

strong {
    background: #3498db;
    border-radius: 0.4rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    filter: drop-shadow(0 0 0.75rem black);
}